/* src/App.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212; /* Netflix-style dark background */
  color: white;
}

.App {
  text-align: center;
}

.main-content {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}
